<div class="card-content">
  <div class="card-deck mb-3 text-center">
      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">{{producto.nombre}}</h4>
        </div>
        <div class="card-img">
          <img src={{producto.url_foto}} alt="">
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">{{producto.precio | currency :"USD"}}<small class="text-muted"></small></h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>{{producto.descripcion}}</li>
          </ul>
          <button type="button" class="btn btn-lg btn-block btn-outline-primary">Agregar al carrito</button>
        </div>
      </div>
  </div>
</div>
